.carousel {
  width: 1920px;  
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  height: 1080px;  
}


.hero-block {
  margin: -50px auto 0; /* Adjust margin to move the carousel up */
  position: relative; /* Make the container relative for absolute positioning */
}

.hero-block .carousel-caption {
  opacity: 1; /* Set opacity to make the caption visible */
  position: absolute;
  bottom: 50px; /* Adjust vertical position */
  left: 0;
  right: 0;
  text-align: center; /* Center align text */
  padding: 20px; /* Add padding for better appearance */
}

.hero-block .btn-rent {
  margin-top: 20px; /* Adjust margin for button positioning */
}
.hero-block .btn-rent-blue {
  background-color: blue;
  color: white;
}
.hero-block .carousel-control {
  width: 5%;
}

