.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .carousel-control-prev, .carousel-control-next {
    color: grey; 
    background-color: transparent;
    width: 5%; 
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: light;
    color: red;
     /* Remove the default background image */
  }
  body {
    background-color: white; /* Set the background color of the body to white */
  }